@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
}